.mines-slots-comb {
  position: relative;
  display: block;
  width: 8rem;
  min-width: 8rem;
  height: 8rem;

  &:after {
    content: '';
    display: block;
    width: 8rem;
    min-width: 8rem;
    height: 8rem;
    background-image: image-set(
                    "/images/star-in-cube.webp" type("image/webp") 1x,
                    "/images/star-in-cube-2x.webp" type("image/webp") 2x,
                    "/images/star-in-cube.png" type("image/png") 1x,
                    "/images/star-in-cube-2x.png" type("image/png") 2x
    );
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
  }
}