.header-navigation-item {
  display: flex;
  color: $color-secondary;

  &__link {
    font-family: $font-lato;
    font-size: 1.2rem;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 500;
    color: inherit;

    &--active {
      color: $color-active-60;
    }
  }
}