.result-table {
  position: relative;

  &__row {
    &:nth-child(odd) {
      background: rgba(34, 39, 62, 0.3);
    }
  }

  &__snow {
    position: absolute;

    &--first {
      width: 4.4rem;
      height: 2.5rem;
      left: 0;
      top: -1.6rem;
    }

    &--second {
      width: 12.8rem;
      height: 3.7rem;
      top: -1.6rem;
      left: 26rem;
    }

    &--third {
      width: 27.5rem;
      height: 4.8rem;
      top: -2.4rem;
      right: 8rem;
    }
  }
}