.rewards-banner {
  display: flex;
  gap: 1rem;
  padding: 2rem 8rem;
  background-image: image-set(
                  "/images/starry-sky.webp" type("image/webp") 1x,
                  "/images/starry-sky-2x.webp" type("image/webp") 2x,
                  "/images/starry-sky.jpg" type("image/jpg") 1x,
                  "/images/starry-sky-2x.jpg" type("image/jpg") 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.2rem solid $color-accent-75;
  border-radius: 0.5rem;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__title {
    font-family: $font-oswald;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 1.5;
    text-transform: uppercase;
    color: $color-active-60;
  }

  &__description {
    font-family: $font-segoe-ui;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.5;
    color: $color-light;
  }

  &__image-wrapper {
    display: block;
    width: 43rem;
    min-width: 43rem;
    height: 16rem;
  }
}