.sub-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-primary;
  padding: 2.25rem 2.7rem;

  &__actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}