.place-bet-form-section {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  &__title {
    font-family: $font-segoe-ui;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.5;
    text-transform: capitalize;
    color: $color-dark-10;
    text-align: center;
  }
}