.block-title {
  font-family: $font-oswald;
  font-weight: 600;
  font-size: 4rem;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  overflow: hidden;

  &--yellow {
    color: $color-active-60;
  }

  &--white {
    color: $color-light;
  }

  &:before {
    content: '';
    display: inline-block;
    width: 30%;
    height: 0.2rem;
    background: linear-gradient(270deg, #434b71 0%, #272f48 98.2%);
    position: absolute;
    left: 0;
    top: calc(50% - 0.1rem);
  }

  &:after {
    content: '';
    display: inline-block;
    width: 30%;
    height: 0.2rem;
    background: linear-gradient(90deg, #434b71 0%, #272f48 98.2%);
    position: absolute;
    right: 0;
    top: calc(50% - 0.1rem);
  }
}