.content {
  display: flex;
  flex-direction: column;
  width: 110.4rem;
  background-color: $color-accent-95;

  &__banners-slider {
    overflow: visible;
    margin-top: 3.6rem;
  }

  &__banners {
    margin-top: 3.6rem;
  }

  &__games {
    display: flex;
    flex-direction: column;
  }
}