.banners-slider-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  background: repeating-linear-gradient(
                  135deg,
                  $color-active-100,
                  $color-active-100 1.2rem,
                  $color-active-60 1.2rem,
                  $color-active-60 2.4rem
  );
  position: absolute;
  top: calc(50% - 2rem);
  z-index: 2;

  &__icon {
    width: 1.4rem;
    height: 1.4rem;
  }

  &--prev {
    left: -2.4rem;
  }

  &--next {
    right: -2.4rem;
    transform: rotate(180deg);
  }
}