.chat-message-user-avatar {
  display: block;
  width: 3.2rem;
  min-width: 3.2rem;
  height: 3.2rem;
  border: 0.2rem solid transparent;
  border-radius: 50%;
  background: linear-gradient(180deg, $color-accent-35 0%, $color-accent-63 100%) border-box;
  mask-composite: exclude;
}