.chat {
  background-color: $color-primary;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.9rem 2.4rem;
    height: 8.8rem;
  }

  &__chat-form {
    height: 15.2rem;
  }

  &__title {
    font-family: $font-oswald;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    text-transform: uppercase;
    color: $color-light;
  }

  &__users-count {
    font-family: $font-oswald;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    text-transform: uppercase;
    color: $color-active-60;
    position: relative;
    padding-left: 1.6rem;

    &:before {
      content: '';
      width: 0.8rem;
      height: 0.8rem;
      background-color: $color-active-60;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: calc(50% - 0.4rem);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 1.3rem 2.4rem 1.7rem;
    height: calc(100vh - 24rem);
    overflow-y: auto;
  }
}