.promo-banners {
  display: grid;
  grid-template-areas:
    "first first first second second second third third third fourth fourth fourth"
    "fifth fifth fifth fifth sixth sixth sixth sixth seventh seventh seventh seventh";
  grid-template-rows: 16.25rem 21.925rem;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.2rem;

  &__item {
    &--first {
      grid-area: first;
      position: relative;

      &:after {
        content: '';
        display: block;
        width: 11.8rem;
        height: 5.2rem;
        background-image: image-set(
                        "/images/snow-7.webp" type("image/webp") 1x,
                        "/images/snow-7-2x.webp" type("image/webp") 2x,
                        "/images/snow-7.png" type("image/png") 1x,
                        "/images/snow-7-2x.png" type("image/png") 2x
        );
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 1.6rem;
        right: 3.6rem;
      }
    }

    &--second {
      grid-area: second;
    }

    &--third {
      grid-area: third;
      position: relative;

      &:after {
        content: '';
        display: block;
        width: 5.8rem;
        height: 3.5rem;
        background-image: image-set(
                        "/images/snow-8.webp" type("image/webp") 1x,
                        "/images/snow-8-2x.webp" type("image/webp") 2x,
                        "/images/snow-8.png" type("image/png") 1x,
                        "/images/snow-8-2x.png" type("image/png") 2x
        );
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 1.6rem;
        right: 2.4rem;
      }
    }

    &--fourth {
      grid-area: fourth;
    }

    &--fifth {
      grid-area: fifth;
    }

    &--sixth {
      grid-area: sixth;
      position: relative;

      &:after {
        content: '';
        display: block;
        width: 5.4rem;
        height: 2.4rem;
        background-image: image-set(
                        "/images/snow-9.webp" type("image/webp") 1x,
                        "/images/snow-9-2x.webp" type("image/webp") 2x,
                        "/images/snow-9.png" type("image/png") 1x,
                        "/images/snow-9-2x.png" type("image/png") 2x
        );
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 2.4rem;
        right: 0;
      }
    }

    &--seventh {
      grid-area: seventh;
    }
  }
}