.jackpot-drum-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__time {
    font-family: $font-oswald;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.5;
    color: $color-dark-10;
    margin-bottom: 0.8rem;
  }

  &__chips {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-family: $font-oswald;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.5;
    color: $color-light;
    margin-bottom: 2rem;
  }
}