.game-info-card {
  display: flex;
  gap: 1.2rem;
  padding: 1.6rem;
  background: linear-gradient(218deg, $color-primary 0%, $color-primary 100%);
  border: 0.2rem solid $color-accent-75;
  border-radius: 0.4rem;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }

  &__count {
    font-family: $font-segoe-ui;
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 1.5;
    color: $color-light;
  }

  &__title {
    font-family: $font-segoe-ui;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    color: $color-dark-10;
  }

  &--action-button {
    padding: 2.225rem;
  }
}