.skin-card {
  display: flex;
  align-items: end;
  justify-content: center;
  position: relative;
  padding: 2.4rem 7rem;
  width: 24rem;
  height: 32rem;
  background-image: image-set(
                  "/images/gun-with-grey-bg-card.webp" type("image/webp") 1x,
                  "/images/gun-with-grey-bg-card-2x.webp" type("image/webp") 2x,
                  "/images/gun-with-grey-bg-card.png" type("image/png") 1x,
                  "/images/gun-with-grey-bg-card-2x.png" type("image/png") 2x
  );
  background-repeat: no-repeat;
  background-size: cover;

  &__appeal {
    font-family: $font-segoe-ui;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: center;
    color: $color-dark-10;
  }

  &__snow {
    position: absolute;
    top: -1.6rem;
    left: 50%;
    transform: translateX(-50%);
    width: 16.3rem;
    height: 4rem;
  }
}